.brand-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.6);
  &.active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.brand-data {
  display: flex;
  align-items: center;
  max-width: 600px;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  margin-top: 15px;
}

.brand-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  & h2 {
    margin-top: 0;
  }
}

.brand-logo {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-shrink: 0;
  height: 150px;
  & img {
    width: 100%;
    max-width: 200px;
    max-height: 150px;
  }
  & h2 {
    margin-bottom: 0;
  }
}

.brand-description {
  padding: 15px;
}

.car-list {
  list-style: none;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  & a {
    width: fit-content;
    display: flex;
  }
}

.car-item {
  width: 330px;
  background: rgba(128, 128, 128, 0.2);
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 5px rgba(204, 204, 204, 0);
  transition: 0.5s ease;
  backdrop-filter: blur(20px);
  &:hover {
    background: rgba(69, 121, 167, 0.5);
    border: 2px solid #4f7e88;
    transition: 0.5s ease;
  }
}

.car-thumb {
  width: 300px;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  & img {
    width: 360px;
    margin-top: -70px;
  }
}

.car-data {
  padding: 0 30px 15px;
  margin-top: -45px;
}

.car-values {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
