#header {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding: 15px 30px;
  height: 80px;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #777;
  z-index: 1000;
}

#bgVideo {
  position: fixed;
  z-index: 1;
  filter: blur(2px);
  opacity: 0.2;
}

main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  place-items: center start;
  position: relative;
  z-index: 2;
}

.back-button {
  display: flex;
  border-radius: 0;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 991;
}

.home-button {
  height: 50px;
  display: flex;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 992;
}

.gt6-btn {
  background: transparent;

  &::after {
    opacity: 0;
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: radial-gradient(
      circle,
      rgba(43, 130, 230, 0.8) 0,
      rgba(43, 130, 230, 0.8) 30%,
      rgba(255, 255, 255, 0) 70%
    );
    transition: opacity 0.2s ease;
  }
  &:hover {
    background: transparent;
    &::after {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumb-stage {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 40px;
  color: #fff;
}
