#header {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding: 15px 30px;
  height: 80px;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #777;
  z-index: 1000;
}

#bgVideo {
  position: fixed;
  z-index: 1;
  filter: blur(2px);
  opacity: 0.2;
}

main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  place-items: center start;
  position: relative;
  z-index: 2;
}

.back-button {
  display: flex;
  border-radius: 0;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 991;
}

.home-button {
  height: 50px;
  display: flex;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 992;
}

.gt6-btn {
  background: transparent;

  &::after {
    opacity: 0;
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: radial-gradient(
      circle,
      rgba(43, 130, 230, 0.8) 0,
      rgba(43, 130, 230, 0.8) 30%,
      rgba(255, 255, 255, 0) 70%
    );
    transition: opacity 0.2s ease;
  }
  &:hover {
    background: transparent;
    &::after {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}

.breadcrumb-stage {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 40px;
  color: #fff;
}


.gt-logo {
  height: 50px;
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    height: 100%;
  }
}

.about-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  & .material-icons {
    margin-right: 5px;
  }
}

.about-modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-modal-content {
  position: relative;
  width: 80vw;
  height: fit-content;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2001;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(60px);
  border: 1px solid #777;
  border-radius: 10px;
  & a {
    color: rgba(43, 130, 230, 1);
    &:hover {
      color: rgba(73, 160, 260, 1);
    }
  }
}

.close-modal {
  position: relative;
  color: #fff;
  &:hover {
    color: rgba(43, 130, 230, 1);
  }
}

.ui-button {
  color: #fff;
  background: rgba(128, 128, 128, 0.2);
  border: 2px solid transparent;
  transition: 0.5s ease;
  backdrop-filter: blur(20px);
  &:hover {
    color: #fff;
    background: rgba(69, 121, 167, 0.5);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(79, 126, 136);
    border-image: initial;
    transition: all 0.5s ease 0s;
  }
}
